MONGODB_URI=mongodb+srv://<usuario>:<contraseña>@cluster0.mongodb.net/inventario?retryWrites=true&w=majority
JWT_SECRET=tu_clave_secreta_jwt
PORT=4000
ADMIN_EMAIL=admin@empresa.com
ADMIN_PASSWORD=admin123
